<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
</head>
<body>
<button class="btn btn-primary" type="button" (click)="getCandidates()" >Show all candidates</button>
<button class="btn btn-primary" type="button" (click)="getMentors()">Show all mentors</button>
<div class="container">
  <div class="mx-auto text-center">
    <h1 class="mx-auto my-0 text-uppercase">Request: </h1>
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>primEmail</th>
      <th>secEmail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidate of candidates">
      <td>{{candidate.id}}</td>
      <td>{{candidate.firstName}}</td>
      <td>{{candidate.lastName}}</td>
      <td>{{candidate.phoneNr}}</td>
      <td>{{candidate.primaryEmail}}</td>
      <td>{{candidate.secondaryEmail}}</td>
    </tr>
    <tr *ngFor="let mentor of mentors">
      <td>{{mentor.id}}</td>
      <td>{{mentor.firstName}}</td>
      <td>{{mentor.lastName}}</td>
      <td>{{mentor.phoneNr}}</td>
      <td>{{mentor.primaryEmail}}</td>
      <td>{{mentor.secondaryEmail}}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
